{% extends "layout.html" %} {% block body %}
<form action="{{ url_for('add_brew') }}" method=post id="new_brew_form" class="editable">
	<fieldset>
		<legend>New Brew</legend>
		<input id="brew_id" hidden="true" value="{{brew_id}}">
		<div>
			<label for="name">Name</label> 
			<input type=text id="name" name=name value="{{name}}" class="field">
		</div>
		<div>
			<label for="brew_date">Brew Date</label> 
			<input type=text name="brew_date" value="{{brew_date}}" class="field">
		</div>
		<div>
			<label for="second_stage_date">Second Stage Transfer Date</label> 
			<input type=text name="second_stage_date" value="{{second_stage_date}}" class="field">
		</div>
		<div>
			<label for="bottle_date">Bottling Date</label> 
			<input type=text name="bottle_date" value="{{bottle_date}}" class="field">
		</div>
		<div>
			<label for="abv">ABV</label> 
			<input type=text name="abv" value="{{abv}}" class="field">
		</div>
		<div>
			<label for="volume_brewed">Volume</label> 
			<input type=text name="volume_brewed" value="{{volume_brewed}}" class="field">
		</div>
		<div>
			<label for="ingredients">Ingredients</label> 
			<input type=text name="ingredients" value="{{ingredients}}" class="field">
		</div>
		<div>
			<label for="notes">Notes</label>
			<textarea name="notes" class="field" rows="2" cols="60">{{notes}}</textarea>
		</div>
		<input type=button value="Save Brew" id="save_btn">
	</fieldset>
</form>
<script type="text/javascript">
	window.onload = function() {
		console.log("addbrew.html");
		btn = document.getElementById("save_btn");
		btn.onclick = doSave;
	}
	function doSave() {
		// 	debugger;
		console.log("attempting save");
		nameVal = document.getElementById("name").value;
		if (nameVal != undefined && nameVal != "" && nameVal.length > 0) {
			console.log("saving brew");
			form = document.getElementById("new_brew_form");
			form.submit();
		} else {
			console.log("invalid data, aborting save");
		}
	}
</script>
{% endblock %}