{% extends "layout.html" %}
{% block body %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<h1>BEER LISTING</h1>
<h3>being implemented...</h3>
    <div id="beer_div">    
        <table id="beer_table" class="hovertable">
            
        </table>
    </div>

  <script type="text/javascript">
    var BEERS = {{beers|safe}};
    
    window.onload = function(){
        console.log("beerlist.html loading...");
        console.log(BEERS);
        console.log("*******************");
        buildTable();
    }
    
    function buildTable(){
        if(BEERS != null && BEERS != undefined){
            console.log("building table...")
            console.log(BEERS)
            var root = document.getElementById('beer_div');
            var tab = document.createElement('table');
            tab.className="hovertable";
            var tbo = document.createElement('tbody');
            var row, cell;
            for(var i = 0; i < BEERS.beers.length; i++){
                var beer = BEERS.beers[i];
                row=document.createElement('tr');
                cell=document.createElement('td');
                    cell.appendChild(document.createTextNode(beer.name));
                    row.appendChild(cell);
                cell=document.createElement('td');
                    cell.appendChild(document.createTextNode(beer.brewery.name));
                    row.appendChild(cell);
                cell=document.createElement('td');
                    cell.appendChild(document.createTextNode(beer.description));
                    row.appendChild(cell);
                cell=document.createElement('td');
                    cell.appendChild(document.createTextNode(beer.abv));
                    row.appendChild(cell);
                tbo.appendChild(row);
            }
            tab.appendChild(tbo);
            root.appendChild(tab);
        }
    }
  </script>
{% endblock %}
